.txt {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.in {
	background-color: #FFFFFF;
	border: 1px solid #333333;
}
body {
	font-size: 12px;
	text-decoration: none;
}
table {
	font-size: 12px;
	text-decoration: none;
}
